body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8a5c2;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

main {
    text-align: center;
    margin: 20px;
}

h1 {
    color: #e84393
}

.galeria img {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8a5c2;
    text-align: center;
    color: white;
}