
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f8a5c2;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #FF4081;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

html, body {
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #e84393
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.banner h1 {
    font-size: 36px;
    color: #e84393;
    font-weight: bold;
}

.banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

.banner-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.botao {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e84393;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: #ff69b4;
    transform: scale(1.05);
}

.carta {
    background: #fff8e1;
    padding: 40px;
    border-radius: 15px;
    max-width: 700px; 
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: justify; 
    font-family: 'Merriweather', serif; 
    line-height: 1.8; 
}

.carta h1 {
    color: #e84393;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
}

.carta p {
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .carta {
        max-width: 90%;
        padding: 30px;
    }
}



.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    margin: 40px auto 0;
}


.galeria img {
    width: 100%;
    max-width: 280px;
    height: 400px;
    object-fit: cover; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

footer {
    padding: 15px;
    background-color: #f8a5c2;
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
    position: relative;
}